:root {
  --magneta: #fc54fc;
  --blueish: #5454fc;
  --cyanish: #54fcfc;
  --greeeen: #54fc54;
  --yeellow: #fcfc54;
  --reddish: #fc5454;
  --blaaack: #000000;
  --whiteee: #ffffff;
}
::-moz-selection {
  /* Code for Firefox */
  color: var(--blaaack);
  background: var(--whiteee);
}
::selection {
  color: var(--blaaack);
  background: var(--whiteee);
}
canvas,
textarea {
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border-radius: 0;
  padding: 3px 4px;
}
.dummy {
  width: 10%;
}
#canvas {
  background-color: #eee;
  height: 500px;
  width: 500px;
  image-rendering: pixelated;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  flex-wrap: wrap;
}
textarea {
  font-family: "Lucida Console", "DejaVu Sans Mono", monospace;
  font-weight: bold;
  resize: none;
  box-sizing: border-box;
  line-height: 1.25;
  font-size: 1rem;
}
.nav {
  min-width: 25px;
  min-height: 25px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.window {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.title-bar {
  container-type: size;
  background-color: var(--blueish);
  width: 100%;
  border: 0 solid var(--blaaack);
  border-width: 1px 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}
.title-bar-title {
  font-family: "Lucida Console", "DejaVu Sans Mono", monospace;
  font-weight: bold;
  font-size: 100cqh;
  background-color: var(--blaaack);
  color: var(--whiteee);
  height: 100%;
  width: fit-content;
  padding: 0px 2px;
  text-wrap: nowrap;
  overflow: hidden;
}
.title-bar-icon {
  aspect-ratio: 1/1;
  shape-rendering: crispEdges;
  border-color: var(--blaaack);
  height: 100%;
  display: contents;
}
.title-bar-icon > svg {
  background-color: var(--whiteee);
}
.main-section {
  background-color: var(--reddish);
  overflow-y: auto;
  flex: 1 1 auto;
}
.bottom-bar {
  height: 30px;
  flex: 0 1 30px;
}
